/* Your CSS Code here. */

table{
	width:100%;
	background-color: lightgray;
	
}
thead {
	  background-color:red;	
  }
.one{
	background-color: lightcoral;

}

th:nth-child(1n+2), td:nth-child(1n+2){
	text-align:right;

}
table,tr,td,th{
	border:1px solid black;
	border-collapse:collapse;
}
